<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="servicestack:license" value="7592-e1JlZjo3NTkyLE5hbWU6UmljYXJkbyBCcmFuY28sVHlwZTpJbmRpZSxNZXRhOjAsSGFzaDphYjc2YkJXUVhkTndQNkRpaEwwUWVGMkVQR1FyUHZWY0IxcUxkN3hGYzExR0pkdnNUbmZZRU9ZeWFWUWZvN3FCOXFWd201dFQzc0FxQTYreklBeWVhekp5a25kYUV0aFZhTVdDWElEdVp1TFpodTVhTjNCQVJubmp5bGVsQU9jN0xaL3FNRkt4TTVDVXVMVmxaK2V6SFBKSFU5SDdHLzV2cE81RVR2dWVzRUk9LEV4cGlyeToyMDIwLTEwLTAzfQ==" />
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" forwardWindowsAuthToken="false" stdoutLogEnabled="false">
      <environmentVariables />
    </aspNetCore>
  </system.webServer>
</configuration>